body{
    margin:0;
    padding:0;
    background: url('https://files.slack.com/files-pri/T6SG2QGG2-FKLRTKEM9/img_20190627_151011.jpg') no-repeat center fixed; 
    -webkit-background-size: cover;
    background-size: cover; 
}

h1{
  display: flex;
  justify-content: space-around;
  align-items: center; 
  text-align: center;
  padding-top: 4em;
  font-weight: bold;
  font-size: 3em;
  color: black;
}

h3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 1em;
    color: black;
}
